
/*:::LARGE CONTAINERS:::*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/css-lattice-pattern.png");
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: rgb(138, 138, 131);
    padding: 5pt;
    margin: 5pt;
    margin-top: 0pt;
    border-style: groove;
    border-color: rgb(188, 209, 255);
    border-width: 5pt;
}

.leftCol {
}

.rightCol {
}


/*:::ELEMENT CONTAINERS:::*/

.headerBox {
    padding: 20px;
    background-color: #0b0b0c;
    border-style: groove;
    border-color: rgb(188, 209, 255);
    border-width: 5pt;
    margin: 5pt; 
}

.navBar {
    float: right;
    position: relative;
    margin-right: 5px;
    padding-bottom: 10px;
}

.hero {
    margin-bottom: 25px;
    margin-top: 5px;
    padding-top: 25px;
    background-image: url("../images/robot-arm.jpg");
    background-size: cover;
    background-position: center;
}

.asideBox {
    float: right;
    width: 800px;
    height: auto;
    background-color: hsla(120, 50%, 10%, 0.8);
    z-index: 2;
    padding: 1% 5% 5% 5%;
    margin: 3%;
}

.sectionBox {
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 50px;
    height: 400px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: hsla(240, 37%, 28%, 0.664);
    color: #ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/*:::TYPOGRAPHY:::*/

.logoText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24pt;
    background: -webkit-linear-gradient(rgb(18, 70, 138), rgb(152, 255, 195));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navText {
    color: rgb(7, 209, 192);
    font-size: 20px;
    float: right;
    width: auto;
    position: relative;
    margin-right: 25px;
    margin-top: -15px;
}

.slogan {
    color: white;
    font-size: 24px;
    position: static;
    margin-top: -70px;
    margin-left: 70px;
    float: inline-end;
    width: auto;
    font-style: oblique;
}

.asideHeader {
    color: hsla(120, 0%, 10%, 1);
    font-size: 30px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-weight: bold;
}

.asideText {
    color: hsla(120, 5%, 80%, 1);
    font-size: 18px;
    width: auto;
    height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Blinker', sans-serif;
}

.footer h2 {
    font-size: 20px;
}


/*:::LAYOUT AND DYNAMICS:::*/

.navText:hover {
    color: green;
}

.asideImg {
    display: block;
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding: 0px;
}

.float-left {
    float: left;
    max-width: 200px;
    margin-left: 25px;
}

.float-right {
    float: right;
    max-width: 200px;
    margin-left: 25px;
}


/*:::REFACTORED PARAMETERS:::
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
    
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

*/